/*========================================================
                      HTML boxes
=========================================================*/
.html-module {
	&.info {
		color:#fff;
		h1, h2, h3, h4, h5, h6, p, i {
			color:#fff;
			margin-bottom:0;
		}
		h1, h2, h3, h4, h5, h6 {
			display:inline-block;
		}
		i {
			display:inline-block;
			float:left;
			font-size:44px;
			line-height:.9em;
			margin:0 16px 0 0;
			[dir="rtl"] & {
				float:right;
				margin-left:16px;
				margin-right:0;
			}
		}
		h3 {			
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 0;
			margin-top: 7px;
			position:relative;
			&:after {
				position:absolute;
				display:inline-block;
				content:'';
				bottom:-2px;
				left:50%;
				width:0;
				height:2px;
				background:#fff;
				vertical-align:top;
				@include transition(.3s all ease);
			}
		}
		p {
			font-size:14px;
			font-family: $baseFontFamily;
			display:inline-block;
			width:100%;
		}
	}
	&.map-block {
		margin-bottom: 30px;
		iframe {
			width: 100%!important;
			border: none!important;
		}
	}
}

.block-info {
	background:$primary;
	margin-top:24px;
	margin-bottom:20px;
	padding-top:20px;
	padding-bottom:30px;
}

/*========================================================
               Responsive HTML boxes
=========================================================*/

@media (min-width: 992px) and (max-width: 1199px) {
	.html-module.info {
		i {
			font-size: 30px;
			margin-right: 7px;
		}
		h3 {
			font-size: 16px;
			margin-top: 5px;
		}
		p {
			font-size: 12px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.html-module.info {
		i {
			font-size: 24px;
			margin-right: 5px;
		}
		h3 {
			font-size: 12px;
			margin-top: 5px;
		}
		p {
			font-size: 12px;
			line-height: 1.4em;
		}
	}
}

@media (max-width: 767px) {
	.html-module.info {
		.col-sm-4 + .col-sm-4 {
			margin-top:25px;
		}
		.description {
			text-align: center;
		}
		i {
			float: none;
			margin-left: 10px;
			vertical-align:top;
		}
	}
}

@media (max-width: 480px) {
	.html-module.info {
		h3 {
			font-size: 15px;
		}
		i {
			margin-left: 0;
			margin-right: 5px;
		}
	}
}

