/*==================  Stuck menu  ======================*/

$stuck-bg: #f5f5f5;

.stuck-menu {
	width: auto !important;
}
.ajax-overlay-open .scroll-fix{
	z-index: 996;
}

@media only screen and (min-width: 991px) {
	.scroll-fix {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		@include transition(.3s top ease);
		border-bottom:1px solid rgba(#000,.17);
		// Custom styles
		padding: 0;
		.logo {
			margin-top:4px;
		}
		.block-menu {
			padding-top: 0;
		}
		.sf-menu .sf-mega {
			top:100%;
		}
	}
}

@media only screen and (max-width: 991px) {
  .stuck-menu {
    position: static;
  }
}
/*=============== Responsive ====================*/

@media (max-width: 767px) {
	.stuck-menu {
		margin-bottom:0;
	}
}